<template>
  <div id="follow-view"></div>
</template>

<script>
import { Component, Vue } from "vue-property-decorator";

@Component
export default class Drinks extends Vue {}
</script>

<style scoped lang="less"></style>
