<template>
  <div id="index-view"></div>
</template>

<script>
import { Component, Vue } from "vue-property-decorator";

@Component
export default class Index extends Vue {}
</script>

<style scoped lang="less">
#index-view {
}
</style>
