<template>
  <div id="tab-bar-view">
    <router-view id="view-content"></router-view>
    <div id="tab-bar"></div>
  </div>
</template>

<script>
import { Component, Vue } from "vue-property-decorator";

@Component
export default class TabBarView extends Vue {}
</script>

<style scoped lang="less">
#tab-bar-view {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  #view-content {
    flex-grow: 1;
  }
  #tab-bar {
    height: 48px;
    width: 100vw;
    background-color: yellowgreen;
  }
}
</style>
